<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160592508-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160592508-1');
    </script>
    
    <% end %>
    <%= display_meta_tags site: "AppDev Chapters", reverse: true %>
    <%= csrf_meta_tags %>
    <%= render "shared/favicon_meta_tags" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=992">
    <%# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> %>
  </head>

  <body>
    <%= link_to "#menu", class: "menu-link btn btn-link btn-lg" do %>
      <i class="fab fa-firstdraft"></i>
    <% end %>

    <nav id="menu" class="panel" role="navigation">
      <div class="menu-brand">
        <%= link_to root_path do %>
          <div class="h3 brand-name" style="text-align: justify">AppDev Chapters</div>
        <% end %>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
